@import "src/styles/mixin.scss";
.container {
    width: 15%;
    margin: 0 20px;
    @include screen-max-width-991 {
        width: 48%;
        margin: 0;
    }
    @include screen-max-width-576 {
        width: 100%;
        margin: 20px 0;
    }
    .select {
        width: 100% !important;
    }
}
