{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-prettier"
  ],
  "rules": {
    "indentation": 2,
    "string-quotes": "double",
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "composes"
        ]
      }
    ],
    "selector-pseudo-element-colon-notation": "single",
    "selector-pseudo-class-colon-notation": "single",
    "selector-type-no-unknown": null,
    "scss/at-import-no-partial-leading-underscore": null,
    "scss/at-import-partial-extension-whitelist": [
      "scss"
    ],
    "scss/at-mixin-argumentless-call-parentheses": "never",
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "after-comment"
        ]
      }
    ],
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/operator-no-newline-before": true,
    "scss/operator-no-newline-after": true,
    "scss/operator-no-unspaced": true,
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/selector-no-union-class-name": true
  }
}
