@import "../../styles/color.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixin.scss";

.card {
    width: 100%;
    font-family: $main_font;
    padding: 15px;
    border-radius: 0;
   
    .pokemon_img_container {
        background: $image_background;
        display: flex;
        justify-content: center;
        border-radius: 10px !important;
        .pokemon_img {
            width: 100%;
            height: 100%;
            @include screen-max-width-440 {
                width: 200px;
                height: 200px;
            }
        }
    }

    .pokemon_name {
        color: $title_dark_blue;
    }
    .id {
        color: $index_grey;
    }
    .pokemon_type {
        color: $type_grey;
    }
}
