@import 'src/styles/color.scss';
@import 'src/styles/fonts.scss';
@import 'src/styles/mixin.scss';

.pokemonItem {
  width           : 18%;
  margin          : 10px 0;
  text-decoration : none;
  @include screen-max-width-1024 {
	width   : 24%;
	padding : 10px;
  }
  @include screen-max-width-767 {
	width : 32%;
  }
  @include screen-max-width-576 {
	width : 48%;
  }
  @include screen-max-width-440 {
	width : 100%;
  }

  .card {
	width         : 100%;
	font-family   : $main_font;
	padding       : 15px;
	border-radius : 0;

	&:hover {
	  animation-name     : pokemonItem;
	  animation-duration : 0.3s;
	}

	.pokemon_img_container {
	  background      : $image_background;
	  display         : flex;
	  justify-content : center;
	  border-radius   : 10px !important;

	  .pokemon_img {
		width  : 100%;
		height : 100%;
		@include screen-max-width-576 {
		  width   : 190px;
		  height  : 190px;
		  padding : 20px;
		}
		@include screen-max-width-440 {
		  width  : 200px;
		  height : 200px;
		}
	  }
	}

	.pokemon_name {
	  color : $title_dark_blue;
	}

	.id {
	  color : $index_grey;
	}

	.pokemon_type {
	  color : $type_grey;
	}
  }
}

@keyframes pokemonItem {
  0% {
	transform : translateY(0px);
  }
  50% {
	transform : translateY(-5px);
  }
  100% {
	transform : translateY(0px);
  }
}
