@import 'src/styles/mixin';

.evolution_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  @include screen-max-width-576 {
    flex-direction: column;
    margin: 0;
  }

  .evolution_item {
    width: 30%;
    @include screen-max-width-576 {
      width: 100%;
      margin: 5px 0;
    }
  }
}
