.stats-container {
    display: flex;
    justify-content: space-between;
}

.stat-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.stat-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 100px;
    margin-right: 10px;
    .stat-name {
        display: block;
        width: 100px;
        text-align: center;
    }
}

.stat-progress {
    width: 100%;
    background-color: green;
    border-radius: 5px;
}

.stat-tiny-bar-chart {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.tiny-bar {
    width: 70px;
    height: 8px;
    background-color: #f2f2f2;
    margin-bottom: 2px;
}

.tiny-bar.active {
    background-color: #397f84;
}
