@import "../../styles/color.scss";
@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";

.input {
    border-color: $index_grey !important;
    place-content: "asdasda";
    width: 200px;
}
.button {
    padding: 8px;
    border-radius: 0 5px 5px 0;
    background-color: $main_teal;
    border: none;
    color: $white;
    cursor: pointer;
    transition: $transition;
}
