@import "src/styles/mixin.scss";
@import "src/styles/variables.scss";
@import "src/styles/fonts.scss";
@import "src/styles/color.scss";

.input {
    width: 300px;
    @include screen-max-width-991 {
        width: 100%;
    }
}
.button {
    padding: 8px;
    border-radius: 0 5px 5px 0;
    background-color: $main_teal;
    border: none;
    color: $white;
    cursor: pointer;
    transition: $transition;
}
